.container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom:5% ;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    overflow-x:hidden;
}

.heading{
    color: var(--coltxt2);
    padding-left: 20%;
    padding-right: 22%;
    font-size: 48px;
    text-align: center;
    font-weight: 900;
}


.mail{
    margin-top:1%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: var(--colbg2);
    align-items: center;
    color: white;
    font-size: 25px;
    border: 2px solid var(--coltxt2);
        
    transition: all 0.5s;
}

.mail:hover{
    transition: all 0.5s;
    background-color: var(--colbg1);
}


@media only screen and (max-width:1096px) {
    .heading{
        font-size: 40px;
    }
    .mail{
        font-size: 20px;
    }
}


@media only screen and (max-width:962px) {
    .heading{
        font-size: 35px;
    }
    .mail{
        font-size: 18px;
    }
}

@media only screen and (max-width:777px) {
    .heading{
        font-size: 30px;
    }
    .mail{
        font-size: 16px;
    }
}

@media only screen and (max-width:555px){
    .container{
        padding-left: 1%;
        padding-right: 1%;
       }
    .heading{
        font-size: 20px;
    }
    .mail{
        font-size: 15px;
    }
}