html,
body {
  scroll-behavior: smooth;
  background-color: #020227;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

:root{
  --colbg: #020227;
  --colbg2: #050e3f;
  --coltxt1: #ffffff;
  --coltxt2: #0dc70d;
  
}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;

}
p{
  margin-top: 1%;
  
}


