.container{
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
}

.container>span{
    margin-top: 10%;
    font-size: 18px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    width: 50%;
    
} 


 

@media only screen and (max-width:777px) {
    .container>span{
        font-size: 18px;
    } 
   }






